@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Webkit browsers */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 75%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(257, 27%, 26%);
    border-radius: 6px;
}

/* For Firefox */
* {
    scrollbar-color: hsl(257, 27%, 26%) hsl(0, 0%, 75%);
    scrollbar-width: thin;
}